@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,-50..200;1,17..18,400..700,-50..200&display=swap');
body {
    font-family: Google Sans;
    margin: 0;
}

:root {
    --bg: #fff;
    --fg: #555;
    --card-1: #dcdcdc;
    --card-2: #dcdcdc;
    --card-3: #dcdcdc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Google Sans;
}
a {
    text-decoration: none;
    color: #555; }


img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
}

p{
    font-size: 25px;
     font-weight: 100;
      line-height: 1;
}
section {
position: relative;
width: 100%;
height: 100vh;
padding: 2rem;
background: var(--bg);
color: var(--fg);
}

.intro,
.outro {
background-color: transparent;
text-align: center;
align-content: center;
}

.sticky {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sticky-header h1 {
    position: relative;
    text-align: center;
    will-change: transform, opacity;
    transform: translateY(40px);
    opacity: 0;
}
.card-container {
    position: relative;
    width: 75%;
    display: flex;
    perspective: 1000px;
    transform: translateY(40px);
    will-change: width;
}
.card {
    position: relative;
    flex: 1;
    aspect-ratio: 5 / 7;
    transform-style: preserve-3d;
    transform-origin: top;
}

#card-1 {
    border-radius: 20px 0 0 20px;
}

#card-3 {
    border-radius: 0 20px 20px 0;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    overflow: hidden;
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    transform: rotateY(180deg);
    padding: 2rem;
    border-radius: 3.59281% / 2.58621%;
}

.card-back span {
    position: absolute;
    top: 2rem;
    left: 2rem;
    opacity: 0.4;
    font-size: 2rem;
}

#card-1 .card-back {
    background: #dcdcdc;
     color: #555;
}

#card-2 .card-back {
    background: #dcdcdc;
}
 #card-3 .card-back {
    background: #dcdcdc;
 }

@media (max-width: 1000px) {
    h1 {
        font-size: 3rem;
    }

    .intro h1,
    .outro h1 {
        width: 100%;
    }

    .sticky {
        height: max-content;
        padding: 4rem 2rem;
        flex-direction: column;
    }

    .sticky-header {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-bottom: 4rem;
    }

    .sticky-header h1 {
        opacity: 1;
    }

    .card-container {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }

    .card {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 20px !important;
    }

    #card-1,
    #card-2,
    #card-3,
    .card-back {
        transform: none;
    }
}





:root{
--item1-transform: translate(-100%, 5%) scale(1.6);
--item1-filter: blur(25px);
--item1-zIndex: 11;

--item2-transform: translate(0, 0);
--item2-filter: blur(0px);
--item2-zIndex: 10;
--item2-opacity: 1;

--item3-transform: translate(50%, 10%) scale(0.8);
--item3-filter: blur(10px);
--item3-zIndex: 9;
--item3-opacity: 1;

--item4-transform: translate(90%, 20%) scale(0.5);
--item4-filter: blur(30px);
--item4-zIndex: 9;
--item4-opacity: 1;

--item5-transform: translate(120%, 30%) scale(0.3);
--item5-filter: blur(35px);
--item5-zIndex: 9;
--item5-opacity: 7;
}
a {
    text-decoration: none;
    color: #555;
}
header{
    width: 1140px;
    max-width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}
header .logo {
    font-weight: bold;
}
header nav a {
    margin-left: 30px;
}

.carousel {
    margin-top: -50px;
    height: 128vh;
    overflow: hidden;
    position: relative;
}
.carousel .list{
position: absolute;
top: 0;
width: 1140px;
max-width: 90%;
left: 50%;
transform: translateX(-50%);
height: 80vh;
}
.carousel .list .item{
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    font-size: 15px;
}
.carousel .list .item img{
width: 50%;
position: absolute;
right: 0;
top: 50%;
transform: translateY(-50%);
}
.carousel .list .item .detail {
    opacity: 0;
    pointer-events: none;
}
.carousel .list .item .intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    opacity: 0;
    pointer-events: none;
}
.carousel .list .item:nth-child(2) .intro{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}
.carousel .list .item:nth-child(n+6) {
    opacity: 0;
    pointer-events: none;
}
.carousel .list .item:nth-child(2) {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-zIndex);
    opacity: var(--item2-opacity);
}
.carousel .list .item:nth-child(1) {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    pointer-events: none;
}
.carousel .list .item:nth-child(3) {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
    opacity: var(--item3-opacity);
}
.carousel .list .item:nth-child(4) {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
    opacity: var(--item4-opacity);
}
.carousel .list .item:nth-child(5) {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    z-index: var(--item5-zIndex);
    opacity: var(--item5-opacity);
}
.arrows {
    position: absolute;
    bottom: 300px;
    width: 1140px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows #next,
.arrows #prev{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    border: 1px solid #555;
}
.arrows #back{
    font-family: Google Sans;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #555;
    letter-spacing: 3px;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
}
.carousel .list .item .intro .title{
    font-size: 2em;
    line-height: 0.8em;
}
.carousel .list .item .intro .topic{
    font-size: 4em;
    font-weight: 500;
}
.carousel .list .item .intro .des{
    font-size: small
}
.carousel .list .item .intro .seeMore{
background-color: transparent;
border: none;
border-bottom: 1px solid #555;
font-family: Google Sans;
font-weight: bold;
margin-top: 1.2em;
padding-top: 5px 0;
}
.carousel .list .item:nth-child(2) .intro .title,
.carousel .list .item:nth-child(2) .intro .topic,
.carousel .list .item:nth-child(2) .intro .des,
.carousel .list .item:nth-child(2) .intro .seeMore {
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
@keyframes showContent{
    from {
        transform: translateY(50px);
        filter: blur(20px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}
.carousel .list .item:nth-child(2) .intro .topic {
    animation-delay: 0.9s;
}
.carousel .list .item:nth-child(2) .intro .des {
    animation-delay: 1.1s;
}
.carousel .list .item:nth-child(2) .intro .seeMore {
    animation-delay: 1.3s;
}
.carousel.next .list .item:nth-child(1){
    animation: positionItem2 0.5s ease-in-out 1 forwards;
}
@keyframes positionItem2{
    from{
        transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-zIndex);
    opacity: var(--item2-opacity);
    }
}
.carousel.next .list .item:nth-child(2){
    animation: positionItem3 0.7s ease-in-out 1 forwards;
}
@keyframes positionItem3{
    from{
        transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
    opacity: var(--item3-opacity);
    }
}
.carousel.next .list .item:nth-child(3){
    animation: positionItem4 0.9s ease-in-out 1 forwards;
}
@keyframes positionItem4{
    from{
        transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
    opacity: var(--item4-opacity);
    }
}

.carousel.next .list .item:nth-child(4){
    animation: positionItem5 1.1s ease-in-out 1 forwards;
}
@keyframes positionItem5{
    from{
        transform: var(--item5-transform);
    filter: var(--item5-filter);
    z-index: var(--item5-zIndex);
    opacity: var(--item5-opacity);
    }
}
.carousel.prev .list .item:nth-child(2){
    animation: positionItem1 0.5s ease-in-out 1 forwards;
}
@keyframes positionItem1{
    from{
        transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    }
}

.carousel.prev .list .item:nth-child(3){
    animation: positionItem2 0.7s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(4){
    animation: positionItem3 0.9s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(5){
    animation: positionItem4 1.1s ease-in-out 1 forwards;
}

.carousel .list .item{
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.carousel.showDetail .list .item:nth-child(3),
.carousel.showDetail .list .item:nth-child(4){
    left: 100%;
    opacity: 0;
    pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2){
    width: 100%;
}
.carousel.showDetail .list .item:nth-child(2) .intro{
   opacity: 0;
   pointer-events: none;
}
.carousel .list .item:nth-child(2) img{
   transition: right 0.5s;
}
.carousel.showDetail .list .item:nth-child(2) img{
   right: 50%;
}
.carousel.showDetail .list .item:nth-child(2) .detail{
    opacity: 1;
    pointer-events: auto;
    width: 50%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}
.carousel.showDetail .list .item .detail .title{
    font-size: 4em;
}

.carousel.showDetail .list .item:nth-child(2) .detail .title,
.carousel.showDetail .list .item:nth-child(2) .detail .des{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.carousel.showDetail .list .item:nth-child(2) .detail .des{
    animation-delay: 1.2s;
}
.carousel.showDetail #next,
.carousel.showDetail #prev{
    opacity: 0;
    pointer-events: none;
}

.carousel.showDetail #back {
    opacity: 1;
    pointer-events: auto;
}
.carousel::before{
    width: 550px;
    height: 400px;
    content: '';
    background-image: linear-gradient(
        45deg, #680000, #ac0000
    );
    position: absolute;
    z-index: -1;
    border-radius: 60% 10% 70% 50%;
    filter: blur(110px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}
.carousel.showDetail::before{
    transform: translate(-100%, -50%) rotate(70deg);
}


@media screen and (max-width: 991px) {
    .carousel .list .item{
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .carousel .list .item{
        width: 100%;
        font-size: 10px;
    } 
    .carousel{
        height: 600px;
    }
    .carousel .list{
        width: 100%;
    }
    .carousel .list .item .intro{
        width: 50%;
    }
    .carousel .list .item .img{
        width: 40%;
    }
    .carousel.showDetail .list .item .detail .title{
        font-size: 2em;
    }
    .carousel.showDetail .list .item .detail .des{
        height: 100px;
        overflow: auto;
    }
    .carousel.showDetail .list .item .detail .checkout{
        display: flex;
        width: max-content;
        float: right;
    }
}

#prev, #back, #next, .seeMore{
    color: black;
}
