 @font-face {
  font-family: "Peshka-Black-750";
  src: url("../font/CoFoPeshka750-750Black-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Peshka-Black-380";
  src: url("../font/CoFoPeshka380-380Black-Trial.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Peshka-Medium-380";
  src: url("../font/CoFoPeshka380-380Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Peshka-Light-380";
  src: url("../font/CoFoPeshka380-380Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
