@font-face {
  font-family: "CoFo Peshka VF 380 Medium";
  src: url("path/to/font/file/font/CoFo_Peshka_VF_0_Black.otf")
    format("otf-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Peshka VF 380 Medium";
  src: url("path/to/font/file/font/CoFo_Peshka_VF_0_Black.otf")
    format("otf-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}